@media (min-width: 319px) and (max-width: 480px){
    html{
        font-size: 50%;
    }
    body{
        margin: 0 auto;
    }
    .header{
        padding: 2rem;
    }
    .header_right_bars{
        display: inline-block;
    }
    .header_left_logo_icon {
        width: 10rem;
    }
    .header_right{
        display: flex;
    }
    .header_right-log-in{
        margin: 0 2rem;
    }
    .header_left_nav{
        position: absolute;
        flex-direction: column;
        padding: 10px 30px;
        align-items: flex-start;
        right: 0;
        background: #ffff;
        box-shadow: rgb(0 0 0 / 50%) 0px 5px 15px;
        width: 56%;
        border-radius: 20px;
        top: 42px;
        display: none;
        z-index: 99;
    }
    .header_left_nav_item a{
        margin-bottom: 25px;
        display: inline-block;
    }
    .banner{
        width: 100%;
    }
    .banner_left{
        width: 100%;
        text-align: center;
        padding: 5rem;

    }
    .banner_left_button{
        display: flex;
    flex-direction: column;
    }
    .banner_left_button span{
        margin: 2rem 0;
    }
    .banner_left_button_start{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    width: 25rem;
    }
    .banner_left_button_start i{
        margin-left: 3rem;
    }
    .banner_right{
        display: none;
    }
    .everything_img{
        width: 100%;
    }
    .customize {
        flex-direction: column;
    }
    .customize_right{
        width: 100%;
        text-align: center;
    }
    .customize_left {
        width: 85%;
        padding: 4rem 0;
    }
    .trusted_img {
        top: 0;
        width: 180%;
    }
    .learn_right{
        display: none;
    }
    .support img{
        width: 100%;
    }
    .footer_top_content {
        align-items: center;
    flex-direction: column;
    justify-content: inherit;
    }
    .footer_top_content_left{
        text-align: center;
        width: 45rem;
    }
    .footer_top_content_left p{
        margin-bottom: 2rem;
    }
    .footer_middle_ul{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer_middle_ul_li{
        margin: 1rem 0;
    }
    .footer_bottom_content{
        text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    }
    .footer_bottom_content_list{
        margin: 0 2rem;
    }
    .footer_bottom_copyright{
        display: flex;
        margin-top: 3rem;
    }
    .footer_bottom_copyright_content{
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2rem;
    }
    .everything_right{
        width: 70%;
    }
}
@media (min-width: 481px) and (max-width: 768px){
    html{
        font-size: 60%;
    }
    body{
        margin: 0 auto;
    }
    .header_right_bars{
        display: inline-block;
    }
    .header_left_nav{
        position: absolute;
        flex-direction: column;
        padding: 10px 30px;
        align-items: flex-start;
        right: 0;
        background: #ffff;
        box-shadow: rgb(0 0 0 / 50%) 0px 5px 15px;
        width: 39%;
        border-radius: 20px;
        top: 74px;
        display: none;
        z-index: 99;
    }
    .header_left_nav_item a{
        margin-bottom: 25px;
        display: inline-block;
    }
    .active{
        display: block;
    }
    .customize{
        margin: 0 2rem 10.5rem 2rem;
    }
    .banner{
        width: 100%;
    }
    .banner_left{
        width: 100%;
        text-align: center;
        padding: 10rem;
    }
    .banner_left_button{
        display: flex;
        flex-direction: column;
    }
    .banner_left_button span{
        margin: 2rem 0;
    font-size: 1.8rem;
    }
    .banner_left_button_start{
        display: flex;
    justify-content: center;
    }
    .banner_right{
        display: none;
    }
    .everything{
        margin: 8.8rem 2rem 11.5rem 2rem;
    }
    .footer_top{
        padding-bottom: 8rem;
    }
    .footer_top_content_left{
        text-align: center;
    }
    .footer_middle{
        margin: 3rem 0 5rem 0;
    }
    .footer_middle_ul{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer_middle_ul_li{
        margin: 1rem 0;
    }
    .footer_bottom_content{
        text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    }
    .footer_bottom_content_list{
        margin: 0 2rem;
    }
    .footer_bottom_copyright{
        display: flex;
        margin-top: 3rem;
    }
    .footer_bottom_copyright_content{
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2rem;
    }
    .footer_top_content {
        align-items: center;
    flex-direction: column;
    }
    .footer_top_content_left p{
        margin-bottom: 2rem;
    }
    .support img{
        width: 100%;
    }
    .learn_right{
        z-index: -1;
    right: 7.5rem;
    }
}








@media (min-width: 769px) and (max-width: 1025px){
    html{
        font-size: 60%;
    }
    body{
        margin: 0 auto;
    }
    .header_right_bars{
        display: inline-block;
    }
    .header_left_nav{
        position: absolute;
        flex-direction: column;
        padding: 10px 30px;
        align-items: flex-start;
        right: 0;
        background: #ffff;
        box-shadow: rgb(0 0 0 / 50%) 0px 5px 15px;
        width: 30%;
        border-radius: 20px;
        top: 75px;
        display: none;
        z-index: 99;

    }
    .header_left_nav_item a{
        margin-bottom: 25px;
        display: inline-block;
    }
    .active{
        display: block;
    }
    .banner{
        width: 100%;
        padding: 0 3rem;
    }
    .banner_right_colum1_img{
        width: 220px;
    height: 143px;
    }
    .banner_right_colum2_img{
        width: 220px;
    height: 143px;
    }
    .footer_top_content {
        padding: 0 3rem;
    }
    .footer_middle_ul{
        flex-wrap: wrap;
    }.footer_bottom{
        margin: 10rem 0;
    }
    .footer_bottom_copyright_content{
        width: 70rem;
    }
    .footer_bottom_content{
        flex-wrap: wrap;
    justify-content: center;
    }
}


@media (min-width: 1025px) and (max-width: 1200px){
    html{
        font-size: 60%;
    }
    .header_left_logo_icon {
        width: 15rem;
        margin-right: 2rem;
    }
    .banner {
        width: 100%;
        padding: 0 3rem;
    }
    .banner_right_colum1_img {
        width: 232px;
    height: 148px;
    }
    .banner_right_colum2_img {
        width: 232px;
    height: 148px;
    }

}
@media only screen and (min-width: 1200px){
    .header_left{
        display: flex;
    }
    .header_left_logo_icon {
        margin-right: 3rem;
    }
}
/* @media (min-width:773px) and (max-width: 997px){

} */