$main-color : #7f54b3;
$text-color : #494949;
$button-color: #674399;
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    // font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 5.5rem;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &_left{
        &_logo{
            &_icon{
                width: 20rem;
            }
        }
        &_nav{
            display: flex;
            align-items: center;
            &_item {
                margin-right: 3rem;
                
            }
            &_item a {
                color: $text-color;
                text-decoration: none;
                margin-right: 1rem;
                font-size: 1.5rem;
            }
            
        }
    }
    &_right{
        &_get-started{
            color: $main-color;
            font-weight: 600;
            text-decoration: none;
            font-size: 1.5rem;
        }
        &-log-in{
            color: $text-color;
            font-weight: 600;
            text-decoration: none;
            margin: 0 3.5rem 0 3rem;
            font-size: 1.5rem;

        }
        &_bars{
            margin-left: 3rem;
            display: none;
            font-size: 1.4rem;

        }
        & i{
            font-size: 1.5rem;
        }

    }

}
.banner{
    margin: 0 auto;
    width: 1111px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    &_left{
        width: 51%;
        padding: 10rem 3rem 10rem 0;
        z-index: 3;
        &_img{
            bottom: -28%;
            width: 79%;
            position: absolute;
            filter: invert(12%) sepia(0%) saturate(33%) hue-rotate(239deg) brightness(113%) contrast(89%);
            z-index: 1;
            opacity: 0.6;
        }
        
        &_heading{
            font-size: 3.8rem;
            color: $main-color;
            font-weight: 450;
            line-height: 4.8rem;
            word-spacing: 0.2rem;
        }
        &_desc{
            margin: 3.3rem 0 5rem 0;
            line-height: 3rem;
            font-size: 1.5rem;
        }
        &_button{
            &_start{
                margin-right: 1rem;
                padding: 2rem 2.7rem;
                background-color: $button-color;
                border-radius: 3rem;
                text-decoration: none;
                color: white;
                font-size: 1.5rem;
                & i{
                    margin-left: 1rem;
                }
            }
            &_extend{
                font-size: 1.7rem;
                text-decoration: none;
                color: $main-color;
                font-weight: 600;
            }
            & span{
                font-size: 1.5rem;
            }
        }
    }
    &_right{
        justify-content: space-between;
        display: flex;
        width: 48.5%;
        z-index: 3;
        &_colum1{
            width: 47%;
            &_img{
                margin: 0 2.5rem 3.3rem 0;
                width: 260px;
                height: 160px;
                box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 15px;
            }
        }
        &_colum2{
            margin-top: 0.8rem;
            width: 47%;
            &_img{
                margin: 2.5rem 0 0 0;
                width: 260px;
                height: 160px;
                box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 15px;
            }
        }
    }
}
.everything{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 770px;
    margin: 8.8rem auto 11.5rem auto;
    position: relative;
    height: 322px;
    
    &_img{
        position: absolute;
        top: 0;
        left: 0;
        width: 325px;
        height: 325px;
        object-fit: cover;
        box-shadow: rgb(0 0 0 / 22%) 0px 5px 15px;
    }
    &_right{
        position: absolute;
        top: 1rem;
        right: 0;
        width: 48%;
        &_heading{
            font-size: 2.7rem;
            color: $main-color;
            font-weight: 450;
            line-height: 3.5rem;
            word-spacing: 0.2rem;
            letter-spacing: 0.5px;
            font-size: 3rem;
        }
        &_desc{
            margin: 3rem 0 5rem 0;
            letter-spacing: 0.2px;
            line-height: 2.2rem;
            font-size: 1.4rem;
        }
        .fa-angle-right{
            margin-left: 1rem;
        }
    }
}
.customize{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 770px;
    margin: 0 auto 10.5rem auto;
    &_right{
        width: 43%;
    }
    &_left{
        border-collapse: separate;
        border-spacing: 1.5rem;
        width: 50%;
        &_tr{
            width: 100%;
            &_td{
                box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 15px;
                width: 30%;
                &_img{
                    width: 100%;
                }
                
            }
        }
    }
}
.learn_right{
    width: 50%;
    height: 200px;
    position: relative;
    &_img1{
        position: absolute;
    top: -74px;
    left: 48px;
    width: 12rem;
    box-shadow: rgb(0 0 0 / 22%) 0px 5px 15px;
    }
    &_img2{
        position: absolute;
        right: 1.7rem;
    bottom: -70px;
    width: 33rem;
    object-fit: cover;
    box-shadow: rgb(0 0 0 / 22%) 0px 5px 15px;

    }
    &_img3{
        position: absolute;
        bottom: 10.5rem;
        right: -1rem;
        width: 23rem;
        box-shadow: rgb(0 0 0 / 22%) 0px 5px 15px;

    }
}
.trusted{
    width: 100%;
    height: 485px;
    background: $main-color;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &_img{
        left: 3%;
        top: -4%;
        width: 116%;
        position: absolute;
        filter: invert(70%) sepia(16%) saturate(3807%) hue-rotate(232deg) brightness(89%) contrast(85%);
        z-index: 1;
    }
    &_content{
        z-index: 2;
        width: 840px;
        &_top{
            text-align: center;
            color: #ffffff;
            &_heading{
                font-size: 3rem;
                font-weight: 500;
                line-height: 6.4rem;
                opacity: 0.8;
            }
            &_desc{
                font-size: 1.5rem;
                font-weight: 300;
                opacity: 0.75;
            }
        }
        &_middle{
            margin: 6rem auto 0 auto;
            display: flex;
            align-items: center;
            width: 90%;
            & img{
                width: 7.7rem;
                height: 7.7rem;
                margin-right: 1.5rem;
            }
            & p{
                font-size: 1.5rem;
                font-weight: 300;
                opacity: 0.75;
                color: #ffffff;
                font-style: italic;
                line-height: 2rem;
                & b{
                    font-weight: 600;
                    font-style: normal;
                    
                }
            }
        }
    }
}
.text-aline{
    text-align: right;
    margin-right: 1.5rem;
}
.support{
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
    margin: 0 auto;
    &_heading{
        padding-top: 5rem;
        font-size: 2.5rem;
        font-weight: 600;
        color: $text-color;
        margin-bottom: 2.3rem;
    }
    &_desc{
        font-size: 1.7rem;
        color: $text-color;
    }
    & img{
        margin-bottom: -0.5rem;
        width: 690px;
    }
}
.footer{
    &_top{
        width: 100%;
        height: 175px;
        background: $main-color;
        display: flex;
        justify-content: center;
        align-items: center;
        &_content{
            height: 55px;
            width: 103rem;
            display: flex;
            justify-content: space-between;
            &_left{
                text-align: left;
                line-height: 3.5rem;
                width: 60rem;
                & p{
                    font-weight: 300;
                    color: white;
                    font-size: 2rem;
                    & b{
                        font-weight: 500;
                    }
                }
            }
            &_right{
                color: white;
                text-decoration: none;
                padding: 2.6rem 4.6rem;
                border: 2px solid #FFFFFF;
                border-radius: 60px;
                line-height: 0;
                font-size: 1.4rem;
            }
        }
    }
    &_middle{
        width: 100%;
        height: 150px;
        background: #f7f7f7;
        display: flex;
        justify-content: center;
        &_ul{
            background-color: #f7f7f7;
            display: flex;
            justify-content: center;
            align-items: center;
            &_li{
                display: flex;
                align-items: center;
                margin-right: 6.7rem;
                font-size: 1.5rem;
                & i{
                    color: $main-color;
                    margin-right: 1rem;
                    font-size: 3.8rem;
                }
                &_icon{
                    -webkit-mask-image: url(./img/svg_support.svg);
                    mask-image: url('./img/svg_support.svg');
                    margin-right: 1rem;
                    width: 4.1rem;
                    height: 4.1rem;
                    background-color: $main-color;
                }
                & b{
                    font-weight: 600;
                    color: $main-color;
                }
            }
        }   
    }
    &_bottom{
       height: 385px;
       width: 100%;
       display: flex;
        justify-content: center;
        align-items: center;
       &_content{
        display: flex;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 3.2rem;
        &_list{
            margin-right: 10rem;
            & p{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 5.2rem;
/* identical to box height, or 375% */
                text-transform: uppercase;
                color: $text-color;
            }
            & li{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 2.2rem;
                color: $text-color;

            }
        }
       }
    }
    &_bottom_copyright{
        height: 118px;
        width: 100%;
        &_content{
            width: 106rem;
            margin: 0 auto;
            line-height: 11.8rem;
            display: flex;
            justify-content: space-between;
            &_left{
                align-items: center;
                display: flex;
                & i{
                    font-size: 2.2rem;
                    color: $main-color;
                    margin-right: 1.6rem;
                }
                &_icon{
                    -webkit-mask-image: url(./img/Union.svg);
                     mask-image: url(./img/Union.svg);
                    width: 2.1rem;
                    background: $main-color;
                    height: 2rem;
                }
            }
            &_middle{
                width: 230px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 550;
                font-size: 1.2rem;
                line-height: 2.2rem;
                display: flex;
                align-items: center;
/* identical to box height, or 183% */

text-align: center;
            }
        }
    }
}