* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 5.5rem;
  position: relative;
}
.header_left_logo_icon {
  width: 20rem;
}
.header_left_nav {
  display: flex;
  align-items: center;
}
.header_left_nav_item {
  margin-right: 3rem;
}
.header_left_nav_item a {
  color: #494949;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 1.5rem;
}
.header_right_get-started {
  color: #7f54b3;
  font-weight: 600;
  text-decoration: none;
}
.header_right-log-in {
  color: #494949;
  font-weight: 600;
  text-decoration: none;
  margin: 0 3.5rem 0 3rem;
}
.header_right_bars {
  margin-left: 3rem;
  display: none;
}

.banner {
  margin: 0 auto;
  width: 1111px;
  display: flex;
  justify-content: space-between;
}
.banner_left {
  width: 50%;
  padding: 10rem 3rem 10rem 0;
}
.banner_left_heading {
  font-size: 3.8rem;
  color: #7f54b3;
  font-weight: 450;
  line-height: 4.8rem;
  word-spacing: 0.2rem;
}
.banner_left_desc {
  margin: 3.3rem 0 5rem 0;
  line-height: 3rem;
  font-size: 1.5rem;
}
.banner_left_button_start {
  margin-right: 1rem;
  padding: 2rem 2.7rem;
  background-color: #674399;
  border-radius: 3rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.banner_left_button_extend {
  font-size: 1.7rem;
  text-decoration: none;
  color: #7f54b3;
  font-weight: 600;
}
.banner_right {
  justify-content: space-between;
  display: flex;
  width: 50%;
}
.banner_right_colum1 {
  width: 47%;
}
.banner_right_colum1_img {
  margin: 0 2.5rem 3.3rem 0;
  width: 260px;
  height: 160px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 15px;
}
.banner_right_colum2 {
  margin-top: 0.8rem;
  width: 47%;
}
.banner_right_colum2_img {
  margin: 2.5rem 0 0 0;
  width: 260px;
  height: 160px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 15px;
}

.everything {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 770px;
  margin: 8.8rem auto 11.5rem auto;
  position: relative;
  height: 322px;
}
.everything_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 325px;
  height: 325px;
  -o-object-fit: cover;
     object-fit: cover;
}
.everything_right {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 48%;
}
.everything_right_heading {
  font-size: 2.7rem;
  color: #7f54b3;
  font-weight: 450;
  line-height: 3.5rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.5px;
  font-size: 3.2rem;
}
.everything_right_desc {
  margin: 3rem 0 5rem 0;
  letter-spacing: 0.2px;
  line-height: 2.2rem;
  font-size: 1.4rem;
}
.everything_right .fa-angle-right {
  margin-left: 1rem;
}

.customize {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 770px;
  margin: 0 auto 7.5rem auto;
}
.customize_right {
  width: 48%;
}
.customize_left {
  border-collapse: separate;
  border-spacing: 1.5rem;
  padding-right: 4rem;
  width: 50%;
}
.customize_left_tr {
  width: 100%;
}
.customize_left_tr_td {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 15px;
  width: 30%;
}
.customize_left_tr_td_img {
  width: 100%;
}

.learn_right {
  width: 50%;
  height: 200px;
  position: relative;
}
.learn_right_img1 {
  position: absolute;
  top: -94px;
  left: 63px;
  width: 10rem;
  height: 14rem;
}
.learn_right_img2 {
  position: absolute;
  bottom: -70px;
  width: 39rem;
  height: 26rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.learn_right_img3 {
  position: absolute;
  bottom: 10.5rem;
  right: -1rem;
  width: 27rem;
}

.trusted {
  width: 100%;
  height: 485px;
  background: #7f54b3;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trusted_img {
  left: 3%;
  top: -4%;
  width: 116%;
  position: absolute;
  filter: invert(70%) sepia(16%) saturate(3807%) hue-rotate(232deg) brightness(89%) contrast(85%);
  z-index: 1;
}
.trusted_content {
  z-index: 2;
  width: 840px;
}
.trusted_content_top {
  text-align: center;
  color: #ffffff;
}
.trusted_content_top_heading {
  font-size: 3rem;
  font-weight: 500;
  line-height: 6.4rem;
  opacity: 0.8;
}
.trusted_content_top_desc {
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.75;
}
.trusted_content_middle {
  margin: 6rem auto 0 auto;
  display: flex;
  align-items: center;
  width: 90%;
}
.trusted_content_middle img {
  width: 7.7rem;
  height: 7.7rem;
  margin-right: 1.5rem;
}
.trusted_content_middle p {
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.75;
  color: #ffffff;
  font-style: italic;
  line-height: 2rem;
}
.trusted_content_middle p b {
  font-weight: 600;
  font-style: normal;
}

.text-aline {
  text-align: right;
  margin-right: 1.5rem;
}

.support {
  max-width: 867px;
  text-align: center;
  margin: 0 auto;
}
.support_heading {
  font-size: 2.5rem;
  font-weight: 500;
  color: #494949;
  margin-bottom: 2.3rem;
}
.support_desc {
  font-size: 1.5rem;
  color: #494949;
}
.support img {
  margin-bottom: -0.5rem;
  width: 690px;
}

.footer_top {
  width: 100%;
  height: 175px;
  background: #7f54b3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_top_content {
  height: 55px;
  width: 875px;
  display: flex;
  justify-content: space-between;
}
.footer_top_content_left {
  text-align: center;
  line-height: 2.9rem;
}
.footer_top_content_left p {
  font-weight: 300;
  color: white;
  font-size: 2rem;
}
.footer_top_content_left p b {
  font-weight: 500;
}
.footer_top_content_right {
  width: 22rem;
  color: white;
  text-decoration: none;
  padding: 2.6rem 4.6rem;
  border: 2px solid #FFFFFF;
  border-radius: 60px;
  line-height: 0;
  font-size: 1.4rem;
}
.footer_middle {
  width: 100%;
  height: 150px;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
}
.footer_middle_ul {
  padding: 5.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_middle_ul_li {
  display: flex;
  align-items: center;
  margin-right: 7.7rem;
  font-size: 1.5rem;
}
.footer_middle_ul_li i {
  color: #7f54b3;
  margin-right: 1rem;
  font-size: 4.1rem;
}
.footer_middle_ul_li_icon {
  -webkit-mask-image: url(./img/svg_support.svg);
  mask-image: url("./img/svg_support.svg");
  margin-right: 1rem;
  width: 4.1rem;
  height: 4.1rem;
  background-color: #7f54b3;
}
.footer_middle_ul_li b {
  font-weight: 600;
  color: #7f54b3;
}
.footer_bottom {
  height: 385px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_bottom_content {
  display: flex;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 3.2rem;
}
.footer_bottom_content_list {
  margin-right: 10rem;
}
.footer_bottom_content_list p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 5.2rem;
  /* identical to box height, or 375% */
  text-transform: uppercase;
  color: #494949;
}
.footer_bottom_content_list li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #494949;
}
.footer_bottom_copyright {
  height: 118px;
  width: 100%;
}
.footer_bottom_copyright_content {
  width: 870px;
  margin: 0 auto;
  line-height: 11.8rem;
  display: flex;
  justify-content: space-between;
}
.footer_bottom_copyright_content_left {
  align-items: center;
  display: flex;
}
.footer_bottom_copyright_content_left i {
  font-size: 2.2rem;
  color: #7f54b3;
  margin-right: 1.6rem;
}
.footer_bottom_copyright_content_left_icon {
  -webkit-mask-image: url(./img/Union.svg);
  mask-image: url(./img/Union.svg);
  width: 2.1rem;
  background: #7f54b3;
  height: 2rem;
}
.footer_bottom_copyright_content_middle {
  width: 230px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 550;
  font-size: 1.2rem;
  line-height: 2.2rem;
  display: flex;
  align-items: center;
  /* identical to box height, or 183% */
  text-align: center;
}/*# sourceMappingURL=styler.css.map */